body{
	background: rgba(0, 0, 0, 0.9);
	font-size: 1.15em;
	text-align: ;
	font-family: "Lato","Quicksand", sans-serif;
}

h3 {
	color: steelblue;
}

h3:hover {
	font-size: larger;
	color: darkturquoise;
}

h2 {
	color: darkblue;
}

h2:hover {
	font-size: xx-large;
	color: black;
}

.title {
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: rgba(250,250,250, 1.0);
	transform:translate(0px,70px);

	padding: 10px;
	border-radius:20px;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.sub-titles {
	text-align: center;
	background: lightsteelblue;
	color: steelblue;
	border: 2px solid steelblue;
}

.sub-titles-2 {
	text-align: left;
	background: ;
	color: steelblue;
	border: 1px solid steelblue;
}

#page-navigation{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#page-navigation:link{
	text-decoration: underline;
	color: rgba(250,250,250, 0.9);
}

#page-navigation:visited{
	text-decoration: underline;
	color: rgba(250,250,250, 0.6);
}

#contact-me{
	color: orangered;
}

#contact-me:hover{
	font-size: xx-large;
	color: hotpink;
}

article section p {
	color: darkslategray;
}

#page-navigation:hover {
	text-decoration: none;
	font-size: larger;
}

img [src*="/Project_Images/"] {
	border: 10px solid black;
}

.site-layout{
	width: 99vw;
	height: 200vh;
	margin-left: -0.4vw;
	margin-top: -1.5vh;
	margin-bottom:-7.5vh;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.containers{
	width: 99vw;
	height: 20vh;
	margin-top: 2vh;
	background-size: cover;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#homepage{
	background: url(https://p4.wallpaperbetter.com/wallpaper/687/928/61/neon-4k-8k-hd-wallpaper-preview.jpg);
}

#about-me{
	background: rgba(10, 10, 10, 1.0);
}

#personal-projects{
	background: rgba(20, 20, 20, 1.0);
}

#experiences{
	background: rgba(30, 30, 30, 1.0);
}

#contact{
	background: rgba(40, 40, 40, 1.0);
}

.containers:hover{
	box-shadow: inset 0 0 0 1000px rgba(250,250,250,0.4);
	transform: scale(1.1);
}

.containers:hover .containers-sub-items{
	opacity: 100%;
	transform: translateY(-12vh);
}

.containers:hover .title{
	opacity: 0%;
}

.containers-item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:safe center;
	align-items: center;
	text-align: center;
}

.containers-sub-items{
	opacity: 0%;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	margin-left: 8vw;
	margin-right: 8vw;
	background: rgba(0, 0, 0, 0.5);

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.text-content{
	display: none;
	width: 50vw;
	opacity: 0%;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#about-me-sub-items:hover .title{
	opacity: 0%;
}

#about-me-sub-items:hover .text-content{
	opacity: 100%;
}
