
@media screen and (min-width: 490px){
	.top-nav-bar{
		display: grid;
		grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
		grid-template-rows: auto auto;
		grid-column-gap: 2vw;
		align-items: center;
		justify-content: center;
		background: white;
	}

	#main-title{
		grid-column: 1/6;
	}
}

@keyframes on-load{
	0%{
		transform: translateX(-100px);
		opacity: 0%;
	}
	100% {
		opacity: 100%;
		transform: translateX(0px);
	}
}

main {
	animation: 1s ease-in-out 0s 1 on-load;
	z-index: 2;
}

body{
	background: rgba(0, 0, 0, 0.9);
	font-size: 1.15em;
	text-align: ;
	font-family: "Lato","Quicksand", sans-serif;
	z-index: 2;
}

h1{	
	animation: 1s ease-in-out 0s 1 on-load;
	width: 99vw;
	padding-top: 3vh;
	height: 8vh;
	text-align: center;
	color: white;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}

.about-me-page{
	display: flex;
	justify-content: center;
	align-items: center;
}

h3 {
	animation: 1s ease-in-out 0s 1 on-load;
	color: steelblue;
}

h3:hover {
	font-size: larger;
	color: darkturquoise;
}

h2 {
	animation: 1s ease-in-out 0s 1 on-load;
	color: darkblue;
}

.title {
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: rgba(250,250,250, 1.0);
	transform:translate(0px,70px);
	text-decoration: none;
	font-size: 2rem;
	padding: 10px;
	border-radius:20px;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.sub-titles {
	text-align: center;
	background: lightsteelblue;
	color: steelblue;
	border: 2px solid steelblue;
}

.sub-titles-2 {
	text-align: left;
	background: ;
	color: steelblue;
	border: 1px solid steelblue;
}

#page-navigation{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	text-decoration: underline;
}

#page-navigation:link{
	color: rgba(250,250,250, 0.9);
}

#page-navigation:visited{
	color: rgba(250,250,250, 0.6);
}

#contact-me{
	color: orangered;
}

#contact-me:hover{
	font-size: xx-large;
	color: hotpink;
}

article section p {
	color: darkslategray;
}

#page-navigation:hover{
	text-decoration: none;
	font-size: larger;
}

img [src*="/Project_Images/"] {
	border: 10px solid black;
}

.site-layout{
	width: 99vw;
	height: 200vh;
	margin-left: -0.4vw;
	margin-top: 1.1vh;
	margin-bottom:-7.5vh;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containers{
	width: 90vw;
	height: 20vh;
	margin-top: 2vh;
	background-size: cover;
	border: solid;
	border-color: rgba(250, 250, 250, 0.5);
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#homepage{
	background-color: indianred;
	//background-image: url(https://c4.wallpaperflare.com/wallpaper/1020/126/373/street-the-building-watch-canada-wallpaper-preview.jpg);
	background-position: left;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 3vw;
}

#about-me{
	background-color: lightsteelblue;
	//background-image: url(https://c4.wallpaperflare.com/wallpaper/193/562/539/the-city-canada-vancouver-wallpaper-preview.jpg);
	background-position: right;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 3vw;
}

#personal-projects{
	background-color: indianred;
	//background-image: url(https://images7.alphacoders.com/456/thumb-1920-456555.jpg);
	background-position: left;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 3vw;
}

#experiences{
	background-color: lightsteelblue;
	//background-image: url(https://wallpaperaccess.com/full/359586.jpg);
	background-position: right;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 3vw;
	
}

#contact{
	background-color: indianred;
	//background-image: url(https://images3.alphacoders.com/109/1090280.jpg);
	background-position: left;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 3vw;
}

.containers:hover{
	box-shadow: inset 0 0 0 1000px rgba(250,250,250,0.4);
	transform: scale(1.1);
}

.containers:hover .containers-sub-items{
	font-size: initial;
	opacity: 100%;
	transform: translateY(-10.2vh);
}

.containers:hover .title{
	opacity: 0%;
	transform: scale(0);
}

.containers-item{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	text-align: center;
}

.containers-sub-items{
	font-size: 0;
	opacity: 0%;
	width: 20vw;
	max-width: 40vw;
	max-height: 30vh;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
	border-radius: 10px;
	word-wrap: break-word;

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;

	background: rgba(0, 0, 0, 0.5);
}

.text-content{
	opacity: 0%;
	font-size: 0;
	width: 100%;
	height: 100%;
	color: white;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.containers-sub-items:hover{
	border: solid;
	border-color: white;
}

#about-me-sub-items{
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#about-me-sub-items:hover{
	width: 150%;
}

#about-me-sub-items:hover .title{
	opacity: 0%;
	display: none;
}

#about-me-sub-items:hover .text-content{
	opacity: 100%;
	font-size: 0.9rem;
	visibility: visible;
}

.navigation-bar{
	z-index: 1;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.navigation-bar-items{
	width: 23px;
	height: 23px;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	object-fit: scale-down;
	background-position:center;
	background-repeat: no-repeat;
	border-radius: 10px;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.navigation-bar-items:hover{
	border-radius: 10px;
	border: solid;
	border-color: white;
	transition: scale(1.5);
}

.top-nav-bar{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	align-items: center;
	justify-content: center;
}

.top-nav-bar-item{
	width: 100%;
	height: 100%;
}

#home-icon{
	width: 10vw;
	height: 9.5vw;
	transform: scale(0.7);
}

#nav-items{
	text-align: center;
}

#main-title{
	font-size: 3rem;
	font-style: oblique;
	font-weight: bolder;
}

.read-more{
	color: lightsteelblue;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
