
body{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 1.0);
	background: linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0, 1.0));
	background: linear-gradient(90deg, rgb(0, 0, 0),rgba(0, 0, 0, 1.0));
	background: radial-gradient(red 20%,blue 40%,green 55%);
	background: radial-gradient(circle, red 20%,blue 40%,green 55%);

	//absolute unit: pc>pt>px;
	//relative unit: %, em ,vw(view width %),vh (view height %);
	//% is a relative unit (good for scaling for mobile devices);

	display: none; //hides the box; 
}